@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed&display=swap');

* {
    margin:  0;
    padding: 0;
}

html, body {
    min-height: 100vh;
}

body {
    background: linear-gradient(#222, #444);
}

div#navbar {
    background: rgba(0,0,0,.1);
    border-bottom: 1px #666 solid;
}

p {
    padding-left: 5px;
    font: 12px 'Saira Semi Condensed';
}

a {
    text-decoration: none;
    color: rgb(0,192,192);
}

a:hover {
    text-decoration: underline;
}
