@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed&display=swap');

* {
    margin:  0;
    padding: 0;
}

html, body {
    min-height: 100vh;
}

body {
    background: linear-gradient(#222, #444);
}

div#navbar {
    background: rgba(0,0,0,.1);
    border-bottom: 1px #666 solid;
}

span#navbar-online-users {
    float: right;
}

div#container {
    width:      100%;
    min-height: 95vh;
}

.draggable {
    touch-action: none;
    user-select:  none;
}

div.window {
    position: absolute;
    top:      40px;
    left:     20px;

    width:  800px;
    height: 600px;

    background: rgba(0,0,0,.5);
    backdrop-filter: blur(5px);

    border: 1px #666 solid;
}

div#window-lobby-create, div#window-game {
    display: none;
}

div#game-container, div#game {
    width:  100%;
    height: 100%;
}

p {
    padding-left:  5px;
    padding-right: 5px;

    font: 12px 'Saira Semi Condensed';
    color: white;
}

p.pre {
    white-space: pre-wrap;
}

p.window-title {
    position: absolute;
    bottom:   -21px;
    width:    100px;

    background: black;
    border: 1px #666 solid;
}

a {
    text-decoration: none;
    color: rgb(0,192,192);
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
}

tr.header p {
    font-weight: bold;
}
